.card {
    position: relative;
    /* background-color: #262626; */
}

.card img {
    width: 100%;
    display: block;
    border: 2px solid #FFE802;
    border-radius: 6px;
    background-color: #262626;
}

/* Image of the card showing - frontside */
.card .frontside {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}

/* front card flipped */
.flipped .frontside {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

/* Backside of the card */
.card .backside {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .backside {
    transform: rotateY(90deg);
    transition-delay: 0s;
}
